.contenedor-botones-superiores{
    background-color: #343a40;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 30%;
}
.botones-selectores{
    background-color: #609DDF !important;
    border: none !important;
    width: 100px;
}
.btn-pulsado {
    background-color: #0062cc !important;
}
.card-container-company{
    width: 80%;
    margin: auto;
    border: none;
}
.contenido-card{
    border: 1px solid #343a40;
    border-radius: 15px;
    background-color: #E6E6E711;
}
.col-imagen-company{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.imagen-card-company{
    width: 210px;
    height: 150px;
}
.nombre-company{
    font-size: 20px;
    letter-spacing: 2px;
}
.text-company{
    font-size: 18px;
}
.texto-resultados-obtenidos{
    margin: auto !important;
    width: 80% !important;
}
.cancelar-reserva{
    float: right;
    position: relative;
    z-index: 10;
}