<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<span th:if="${usuario == null}">
    <div th:replace="fragments::menuNoLogueado"/>
</span>
<span th:unless="${usuario == null}">
    <div th:replace="fragments::menuLogueado(usuario=${usuario})"/>
</span>

<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Jose Alberola Torres </li>
            <li>Versión 1.2.0</li>
            <li>Fecha de release: 09/11/2021 </li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
