<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments::head(titulo='Estadísticas')"></div>
    <link rel="stylesheet" href="/css/styleEstadisticas.css">
    <script th:src="@{/js/d3.min.js}"></script>
    <script th:src="@{/js/plotly-2.12.1.min.js}"></script>
</head>

<body>

<div th:replace="fragments::menuLogueadoEmpresa(company=${company})"/>

<div class="container-fluid contenedor-principal">
    <!--
    <h1 th:text="'Estadísticas de la empresa ' + ${company.getName()}"></h1>
    -->
    <h4 class="title-section">GENERAL</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Reservas totales</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(0).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(0).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(0).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(0).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(0).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Ingresos totales</span><br/>
                    <span class="card-top-number" th:text="'€' + ${topCards.get(1).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-currency-euro" viewBox="0 0 16 16">
                            <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(1).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(1).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(1).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(1).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Clientes totales</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(2).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(2).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(2).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(2).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(2).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Nuevos clientes</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(3).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(3).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(3).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(3).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(3).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-4">
            <div class="pie-container">
                <div class="pìe-content">
                    <div id='pieGender'></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pie-container">
                <div class="pìe-content">
                    <div id='pieAge'></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pie-container">
                <div class="pìe-content">
                    <div id='pieNumberAppointments'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id='line'><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
    <svg class="svgChart" width="300" height="300"></svg> <!--Step 2-->

</div>


<script th:inline="javascript">
    // Pie chart Gender
    var numeroHombres = [[${valuesPieChartGender[0]}]];
    var numeroMujeres = [[${valuesPieChartGender[1]}]];

    // Pie chart Age
    var totalClientesMenores25 = [[${valuesPieChartAge[0]}]];
    var totalClientesEntre26y45 = [[${valuesPieChartAge[1]}]];
    var totalClientesEntre46y65 = [[${valuesPieChartAge[2]}]];
    var totalclientesMayores65 = [[${valuesPieChartAge[3]}]];

    // Pie chart Total Appointments per Labour
    var arrayValuesPieChartAppointmentsLabour = [[${valuesPieChartAppointmentsLabour}]];
    var arrayLabelsPieChartAppointmentsLabour = [[${labelsPieChartAppointmentsLabour}]];

    // Prueba Line
    var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL High',
        x: ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
        y: [102, 115, 80, 134, 108, 94],
        line: {color: '#17BECF'}
    }

    var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL Low',
        x: ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
        y: [86, 104, 92, 112, 98, 124],
        line: {color: '#7F7F7F'}
    }

    var trace3 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL Low',
        x: ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
        y: [96, 114, 102, 102, 86, 100],
        line: {color: '#7F7F7F'}
    }
    var trace4 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL Low',
        x: ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
        y: [82, 89, 108, 110, 98, 110],
        line: {color: '#7F7F7F'}
    }
    var trace5 = {
        type: "scatter",
        mode: "lines",
        name: 'AAPL Low',
        x: ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
        y: [80, 100, 92, 86, 114, 124],
        line: {color: '#7F7F7F'}
    }
    var data = [trace1,trace2,trace3,trace4,trace5];

    var layout = {
        title: 'Histórico de reservas',
        xaxis: {
            autorange: true,
            range: ['2022-01-01', '2022-06-01'],
            rangeselector: {buttons: [
                    {
                        count: 1,
                        label: '1m',
                        step: 'month',
                        stepmode: 'backward'
                    },
                    {
                        count: 6,
                        label: '6m',
                        step: 'month',
                        stepmode: 'backward'
                    },
                    {step: 'all'}
                ]},
            rangeslider: {range: ['2022-01-01', '2022-06-01']},
            type: 'date'
        },
        yaxis: {
            autorange: true,
            type: 'linear'
        },
        legend: {
            x: 0.5,
            xanchor: "center",
            y: -0.5,
            orientation: "h"
        }
    };

    var config = {locale: 'es'};

    Plotly.newPlot('line', data, layout, config);
</script>
<script th:src="@{/js/pie1.js}"></script>
<script th:src="@{/js/pies.js}"></script>

<div th:replace="fragments::javascript"/>
</body>
</html>