<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments::head(titulo='Estadísticas')"></div>
    <link rel="stylesheet" href="/css/styleEstadisticas.css">
    <script th:src="@{/js/d3.min.js}"></script>
    <script th:src="@{/js/plotly-2.12.1.min.js}"></script>
</head>

<body>

<div th:replace="fragments::menuLogueadoEmpresa(company=${company})"/>

<div class="container-fluid contenedor-principal">
    <h4 class="title-section">GENERAL</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Reservas totales</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(0).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                            <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(0).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(0).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(0).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(0).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Ingresos totales</span><br/>
                    <span class="card-top-number" th:text="'€' + ${topCards.get(1).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-currency-euro" viewBox="0 0 16 16">
                            <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(1).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(1).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(1).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(1).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Clientes totales</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(2).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(2).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(2).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(2).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(2).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Nuevos clientes</span><br/>
                    <span class="card-top-number" th:text="${topCards.get(3).getQuantityString()}"></span>
                    <div class="card-top-div-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="svg-icon bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </div>
                    <br/>
                    <span th:if="${topCards.get(3).isGreen()}">
                        <span class="card-top-percentage percentage-green" th:text="${topCards.get(3).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </span>
                    <span th:unless="${topCards.get(3).isGreen()}">
                        <span class="card-top-percentage percentage-red" th:text="${topCards.get(3).getPercentageString()} + '%'"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </span>
                    <span class="card-top-footer"><small>que el mes pasado</small></span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div id='pieGender'></div>
        </div>
        <div class="col-md-4">
            <div id='pieAge'></div>
        </div>
        <div class="col-md-4">
            <div id='pieNumberAppointments'></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div id='historicalAppointmentsGraph'></div>
        </div>
        <div class="col-md-6">
            <div id='historicalNewCustomersGraph'></div>
        </div>
    </div>
    <br/>
    <h4 class="title-section">PREMIUM</h4>
    <div class="row">
        <div th:if="${!company.isPremium()}" class="col-md-12">
            <div style="background-color: white">
                <div style="padding: 20px">
                    <h5>Analiza cómo mejorar</h5><br/>
                    <p>Activa la cesión de datos al sistema y posiciónate como líder en tu sector.</p>
                    <p>Obtendrás estadísticas más completas que te permitirán detectar el siguiente paso que necesita tu negocio.</p>
                    <p>Todo gracias a la red de negocios que han decidido unirse compartiendo sus datos.</p>
                    <form class="form-inline" method="post" th:action="@{/empresas/{id}/premium(id=${company.id})}"
                          th:object="${premiumData}">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="premium" name="premium">
                            <label class="custom-control-label" for="premium">Compartir</label>
                        </div>
                        <button type="submit" class="btn btn-primary my-1 btn-compartir">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${company.isPremium()}">
        <div class="col-md-4">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Servicios más reservados</span><br/>
                    <span class="card-top-number1"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(0).hayPrimerPuesto()}"
                          th:text="${rankingCards.get(0).getFormatoPodio(0)}">
                    </span>
                    <div class="card-top-div-icon">
                        <svg style="margin-top: 10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="bi bi-trophy" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                        </svg>
                    </div>
                    <br/>
                    <span class="card-top-number2"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(0).haySegundoPuesto()}"
                          th:text="${rankingCards.get(0).getFormatoPodio(1)}">
                    </span>
                    <br/>
                    <span class="card-top-number3"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(0).hayTercerPuesto()}"
                          th:text="${rankingCards.get(0).getFormatoPodio(2)}">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Empresas con más ingresos este mes</span><br/>
                    <span class="card-top-number1"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(1).hayPrimerPuesto()}"
                          th:text="${rankingCards.get(1).getFormatoPodio(0)}">
                    </span>
                    <div class="card-top-div-icon">
                        <svg style="margin-top: 10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="bi bi-trophy" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                        </svg>
                    </div>
                    <br/>
                    <span class="card-top-number2"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(1).haySegundoPuesto()}"
                          th:text="${rankingCards.get(1).getFormatoPodio(1)}">
                    </span>
                    <br/>
                    <span class="card-top-number3"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(1).hayTercerPuesto()}"
                          th:text="${rankingCards.get(1).getFormatoPodio(2)}">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-top">
                <div class="card-top-content">
                    <span class="card-top-title">Empresas con mejores reviews</span><br/>
                    <span class="card-top-number1"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(2).hayPrimerPuesto()}"
                          th:text="${rankingCards.get(2).getFormatoPodio(0)}">
                    </span>
                    <div class="card-top-div-icon">
                        <svg style="margin-top: 10px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0062cc" class="bi bi-trophy" viewBox="0 0 16 16">
                            <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                        </svg>
                    </div>
                    <br/>
                    <span class="card-top-number2"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(2).haySegundoPuesto()}"
                          th:text="${rankingCards.get(2).getFormatoPodio(1)}">
                    </span>
                    <br/>
                    <span class="card-top-number3"
                          th:if="${rankingCards.size() > 0 and rankingCards.get(2).hayTercerPuesto()}"
                          th:text="${rankingCards.get(2).getFormatoPodio(2)}">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" th:if="${company.isPremium()}">
        <div class="col-md-6">
            <div id='historicalRevenueGraph'></div>
        </div>
        <div class="col-md-6">
            <div id='pieClientesDelTotal'></div>
        </div>
    </div>
    <br/>
    <div class="row" th:if="${company.isPremium()}">
        <div class="col-md-12">
            <div id='heatMap'></div>
        </div>
    </div>
    <br/>
</div>


<script th:inline="javascript">
    // Pie chart Gender
    var numeroHombres = [[${valuesPieChartGender[0]}]];
    var numeroMujeres = [[${valuesPieChartGender[1]}]];

    // Pie chart Age
    var totalClientesMenores25 = [[${valuesPieChartAge[0]}]];
    var totalClientesEntre26y45 = [[${valuesPieChartAge[1]}]];
    var totalClientesEntre46y65 = [[${valuesPieChartAge[2]}]];
    var totalclientesMayores65 = [[${valuesPieChartAge[3]}]];

    // Pie chart Total Appointments per Labour
    var arrayValuesPieChartAppointmentsLabour = [[${valuesPieChartAppointmentsLabour}]];
    var arrayLabelsPieChartAppointmentsLabour = [[${labelsPieChartAppointmentsLabour}]];

    // Line Chart Historial Appointments
    var historialAppointmentsGraph = [[${historicalAppointments}]]
    var servicios = [[${historicalAppointments.getServicios()}]];

    // Line Chart Historial New Customers
    var historialNewCustomersGraph = [[${historicalNewCustomers}]]

    // Line Chart Historial Revenue
    var historialRevenueGraph;

    // Pie chart Clientes cubiertos del total
    var clientesPropios;
    var clientesTotales;

    // HeatMap
    var heatMap;
    var ejeXHeatMap;

    if([[${company.isPremium()}]]){
        historialRevenueGraph = [[${historicalRevenue}]];
        clientesPropios = [[${valuesPieChartClientesCubiertos[0]}]];
        clientesTotales = [[${valuesPieChartClientesCubiertos[1]}]];
        heatMap = [[${heatMap}]];
        ejeXHeatMap = [[${heatMap.getEjeX()}]];
    }

</script>
<script th:src="@{/js/pies.js}"></script>
<script th:src="@{/js/historicalAppointments.js}"></script>
<script th:src="@{/js/historicalNewCustomers.js}"></script>
<script th:src="@{/js/historicalRevenue.js}"></script>
<script th:src="@{/js/heatMap.js}"></script>

<div th:replace="fragments::javascript"/>
</body>
</html>