<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Registro')"></head>

<body>
<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-4">

            <div class="card text-center border-warning">
                <div class="card-body">
                    <h4 class="card-title">Bienvenido a Voyendo</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Elige como quieres unirte y empieza a disfrutar de todos nuestros beneficios</h6>
                    <br>
                    <form id="registerForm" method="post" th:action="@{/registro}" th:object="${registroData}">
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <div class="form-group text-center row">
                                    <label for="username">Nombre de usuario</label>
                                    <input id="username" class="form-control" name="username" placeholder="Nombre de usuario"
                                           type="text" th:field="*{username}" required/>
                                </div>
                                <div class="form-group row">
                                    <label for="password">Contraseña</label>
                                    <input id="password" class="form-control" name="password" placeholder="Contraseña"
                                           type="password" th:field="*{password}" required/>
                                </div>
                                <div class="form-group row">
                                    <label for="mail">Correo electrónico</label>
                                    <input id="mail" class="form-control" name="mail" placeholder="Correo electrónico" type="text"
                                           th:field="*{mail}" required/>
                                </div>
                                <div class="form-group row">
                                    <label for="phone">Número de teléfono</label>
                                    <input id="phone" class="form-control" name="phone" placeholder="Número de teléfono" type="tel"
                                           th:field="*{phone}"/>
                                </div>
                                <div class="row">
                                    <label>Tipo de registro</label>
                                </div>
                                <fieldset class="form-group row">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="cliente" value="cliente" th:field="*{tipoRegistro}" checked required>
                                                <label class="form-check-label" for="cliente">
                                                    Soy cliente
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="empresa" value="empresa" th:field="*{tipoRegistro}">
                                                <label class="form-check-label" for="empresa">
                                                    Soy empresa
                                                </label>
                                            </div>
                                        </div>
                                </fieldset>

                                <div class="form-group row">
                                    <label id="labelName" for="name">Nombre completo</label>
                                    <input id="name" class="form-control" name="name" placeholder="Nombre completo" type="text"
                                           th:field="*{name}" required/>
                                </div>

                                <button type="submit" class="btn btn-warning">Registro</button>
                                <a class="btn btn-link" href="/login">Tengo cuenta</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-9">
            <div th:object="${registroData}">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <ul th:if="${error != null}" class="alert alert-danger">
                <li th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>
<script type="text/javascript">
    (function() {
        var opciones = document.forms['registerForm'].elements['gridRadios'];

        for (var i=0, len=opciones.length; i<len; i++) {
            opciones[i].onclick = function() {
                var label = document.getElementById('labelName');
                if(document.getElementById('cliente').checked) {
                    label.textContent = "Nombre completo";
                    document.getElementById("name").placeholder = "Nombre completo";
                }
                if(document.getElementById('empresa').checked) {
                    label.textContent = "Nombre de la empresa";
                    document.getElementById("name").placeholder = "Nombre de la empresa";
                }
            };
        }
    }());
</script>

</body>
</html>