<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/styleFragments.css">
</head>

<div th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.min.css}">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Maps JavaScript library -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDb0toyOBX5Gl95cUNkv7--LM2WdzF_zos"></script>

    <script type="text/javascript">
        function mensaje() {
            alert("Debes iniciar sesión antes.");
        }
    </script>
</div>

<div th:fragment="menuLogueadoEmpresa (company)">
    <nav class="navbar navbar-expand-lg navbar-dark miNav">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>

        <button class="navbar-toggler contenidoNav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon contenidoNav" style="background-image: dark"></span>
        </button>
        <div class="collapse navbar-collapse opcionesNav" id="navbarNavDropdown" style="margin-left: 20px;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" th:href="@{'/empresas/' + ${company.getId()} + '/home'}" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" th:href="@{'/empresas/' + ${company.getId()} + '/estadisticas'}" >Estadísticas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" th:href="@{'/empresas/' + ${company.getId()} + '/servicios'}" >Servicios <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle contenidoNav" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${company.getUsername()}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{'/empresas/' + ${company.getId()} + '/cuenta'}">Mi cuenta</a>
                        <a class="dropdown-item" href="/logout">
                            <span>Cerrar sesión</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <a class="navbar-brand contenidoNav" href="/about">Voyendo</a>
    </nav>
</div>

<div th:fragment="menuLogueado (customer)">
    <nav class="navbar navbar-expand-lg navbar-dark miNav">
        <svg xmlns="http://www.w3.org/2000/svg" style="color: white" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>

        <button class="navbar-toggler contenidoNav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon contenidoNav"></span>
        </button>
        <div class="collapse navbar-collapse opcionesNav" id="navbarNavDropdown" style="margin-left: 20px;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" th:href="@{'/clientes/' + ${customer.getId()} + '/home'}" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" th:href="@{'/clientes/' + ${customer.getId()} + '/reservas'}" >Mis reservas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle contenidoNav" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${customer.getName()}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Cuenta</a>
                        <a class="dropdown-item" href="/logout">
                            <span>Cerrar sesión</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <a class="navbar-brand contenidoNav" href="/about">Voyendo</a>
    </nav>
</div>

<div th:fragment="menuNoLogueado">
    <nav class="navbar navbar-expand-lg navbar-dark miNav">
        <a class="navbar-brand" href="/about">Voyendo</a>
        <button class="navbar-toggler contenidoNav" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon contenidoNav"></span>
        </button>
        <div class="collapse navbar-collapse opcionesNav" id="navbarNavDropdown" style="margin-left: 20px;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" onclick="mensaje()" href="/login">Tareas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" onclick="mensaje()" href="/login" >Equipos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link contenidoNav" onclick="mensaje()" href="/login">Cuenta <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>

</html>