<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments::head(titulo='Home')"></div>
</head>

<style>
    #calendar-container {
        position: fixed;
        top: 100px;
        left: 40px;
        right: 40px;
        bottom: 0;
    }
</style>

<body>

<div th:replace="fragments::menuLogueadoEmpresa(company=${company})"/>

<div class="container-fluid">

    <div id="calendar-container">
        <div id='calendar' style="height: 100%"></div>
    </div>

    <!-- Modal pulsar en fecha y para crear cita -->
    <div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear cita</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formCrear" action="">
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Username / Nombre">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <input id="start" type="date" class="form-control" placeholder="Fecha">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal primer inicio sesión -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">
                        ¡Bienvenido!
                    </h5>
                </div>
                <div class="modal-body">
                    Para poder comenzar necesitamos saber una serie de detalles de la empresa. Tan sólo será un par de minutos.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning" th:href="@{'/companies/' + ${company.getId()} + '/cuenta'}" role="button">Entendido</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/es.js}"></script>
<script th:src="@{/js/calendar.js}"></script>

<script th:inline="javascript">
    window.onload = function() {
        /*
        if([[${company.category.name}]] === "Categoria"){
            $('#staticBackdrop').modal('show');
        }
         */
        if([[${company.category.name}]] === "Categoria" || [[${company.startday}]] == null || [[${company.finishday}]] == null){
            $('#staticBackdrop').modal('show');
        }
    };
</script>

</body>
</html>