<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments::head(titulo='Horario empresa')"></div>
</head>

<body>

<div th:replace="fragments::menuLogueado(customer=${customer})"/>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div id="calendar-container" style="margin-top: 40px; padding-right: 20px; padding-left: 20px; padding-bottom: 40px">
                <div id='calendar'></div>
            </div>
        </div>
    </div>

    <!-- Modal pulsar en fecha y para crear cita -->
    <div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">Hacer reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formCrear" method="post"
                      th:action="@{/clientes/{idCustomer}/empresas/{idCompany}/reservas/nueva(idCustomer=${customer.id}, idCompany=${company.id})}"
                      th:object="${crearAppointmentData}">
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col">
                                <input id="username" type="hidden" class="form-control" name="username" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <label for="start" class="form-label">Fecha</label>
                                <input id="start" type="date" class="form-control" name="start" placeholder="Fecha" required>
                            </div>
                            <div class="col">
                                <label for="starthour" class="form-label">Hora</label>
                                <input id="starthour" type="time" class="form-control" name="starthour" required>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="idlabour" class="form-label">Servicio</label>
                                    <select id="idlabour" class="form-control" name="idlabour" required>
                                        <option id="optionDefault" value="" selected>Selecciona servicio</option>
                                        <option th:each="servicio: ${company.getActivatedLabours()}" class="opcionesDinamicas"
                                                th:value="${servicio.id}" th:text="${servicio.name}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="btnAceptar" type="submit" class="btn btn-primary">Reservar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>

<script th:inline="javascript">
    var horaApertura = [[${company.getStartday()}]];
    var horaCierre = [[${company.getFinishday()}]];

    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
    })

    var error = [[${error}]];
    if(error != null && error !== ''){
        swalWithBootstrapButtons.fire(
            'Error',
            error,
            'error'
        )
    }

    var exito = [[${exito}]];
    if(exito != null && exito !== ''){
        swalWithBootstrapButtons.fire(
            '¡Hecho!',
            exito,
            'success'
        )
    }
    var reservas =[[${reservasCalendario}]];
    var customerUsername = [[${customer.getUsername()}]];
</script>
<script th:src="@{/js/main.min.js}"></script>
<script th:src="@{/js/es.js}"></script>
<script th:src="@{/js/horarioEmpresa.js}"></script>


</body>
</html>